<app-add-task
  [open]="showAddTask"
  (addTask)="handleAddTask($event)"
></app-add-task>

<div *ngIf="loading && !error; else tasksBox">Loading...</div>
<div *ngIf="!loading && error" [ngStyle]="{ color: 'red' }">
  {{ error }}
</div>

<ng-template #tasksBox>
  <fa-icon
    [icon]="reloadIcon"
    [ngStyle]="{ 'margin-left': '10px', cursor: 'pointer' }"
    (click)="getTasks()"
  ></fa-icon>
  <app-task-item
    *ngFor="let task of tasks"
    [task]="task"
    (deleteTask)="handleDeleteTask($event)"
    (toggleReminder)="handleReminder(task)"
  ></app-task-item>
</ng-template>
